<!--w-full h-full-router absolute block top-0 left-0 transition-all duration-300 opacity-0 scale-0 delay-100-->
<div class="Loading"
  [ngClass]="{ 'z-9999 scale-100 opacity-100 delay-100' : loader == 'mostrar' , '-z-2' : loader == 'ocultar'}">
  <div class="absolute inset-0 bg-white opacity-50 transition-opacity" aria-hidden="true"></div>
  <span class="text-primary-500 opacity-75 top-1/2 my-0 mx-auto block relative w-0 h-0" style="top: 50%;">
    <i class="fas fa-circle-notch fa-spin fa-5x"></i>
  </span>
</div>