.loader {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: spin 1s linear infinite;
  }
  
  .loader-btn{
    border: 4px solid rgba(255,255,255,0.5);
    border-top: 4px solid #fff;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  